.footer {
  background-color: #111;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: white;
  padding: 70px 70px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer__list {
  list-style: none;
  max-width: 200px;
}

.footer__list__heading {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 20px;
}
.footer__list__heading::after {
  content: "";
  display: block;
  width: 25px;
  height: 0.2px;
  background-color: white;
  margin-top: 4px;
}

.footer__list__text {
  font-size: 10px;
}

.footer__list__item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  cursor: pointer;
}

.footer__icon {
  margin-right: 10px;
  font-size: 10px;
}

.footer__copyright {
  background-color: #2f2f2f;
  text-align: center;
  padding: 15px 0;
  position: fixed;
  bottom: 8px;
  width: 100%;
  color: white;
  font-size: 12px;
}
